registry=https://mysuni-nexus.mysuni.cloudzcp.net/repository/npm-ski-mysuni-group/
@nara.platform:registry=https://mysuni-nexus.mysuni.cloudzcp.net/repository/npm-ski-mysuni-group/
@nara.drama:registry=https://mysuni-nexus.mysuni.cloudzcp.net/repository/npm-ski-mysuni-group/
@sk:registry=https://mysuni-nexus.mysuni.cloudzcp.net/repository/npm-ski-mysuni-group/
@sku:registry=https://mysuni-nexus.mysuni.cloudzcp.net/repository/npm-ski-mysuni-group/

_auth=c2tpLW15c3VuaS1kZXBsb3k6UXdlcjEyMzQhIQ==

strict-ssl=false
always-auth=false
network-timeout=100000
